.first-section
    margin-bottom: 10.8rem
    display: grid
    grid-template-columns: repeat(2, 1fr)


.grow
    align-self: center
    &__title
        font-weight: 700
        font-size: 4.5rem
        line-height: 5rem
        color: #717171
        margin-bottom: 4.2rem
        span
            color: #499A18   
    &__text
        font-weight: 400
        font-size: 2rem
        line-height: 3.5rem
        color: #636060
        margin-bottom: 4.8rem 
    &__btn
        &, &:link, &:visited
            font-family: 'Inter', sans-serif
            font-weight: 400
            font-size: 1.6rem
            color: #000
            text-transform: uppercase
            padding: 1.2rem 2.5rem
            border: 2px solid #e06733
            border-radius: 1rem
        &:hover
            background-color: #e06733
            color: #fff

.composition
    filter: blur(.2rem)


.prof-gardens
    padding: 8.2rem 11rem 10.5rem 11rem
    background-color: #fff
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr))
    
.about
    max-width: 60.5rem
    align-self: center
    &__title
        max-width: 46rem
        margin-bottom: 4rem
        span
            color: #E06733
    &__text
        font-weight: 400
        font-size: 2rem
        line-height: 3rem
        color: #636060

.flower
    justify-self: end

.services
    padding: 3.5rem 11.9rem

.services-header
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(31rem, max-content))
    grid-column-gap: 14rem
    margin-bottom: 9.7rem
    &__title
        max-width: 30.7rem
    &-list
        align-self: center
        &__btn
            &, &:link, &:visited
                width: 16rem
                padding: 1.2rem 0
                &:not(:last-child)
                    margin-right: 3.8rem
            &:hover
                background-color: #E06733
                color: #fff

.prices
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr))
    background-color: #fff
    padding-top: 3.8rem
    padding-bottom: 1.2rem

.help
    display: grid
    justify-items: end
    &__title
        font-family: 'Inter', sans-serif
        font-weight: 700
        font-size: 4rem
        line-height: 5rem
        color: #000
        margin-bottom: 3.1rem
        text-align: right
        max-width: 45rem
        span 
            color: #499A18
    &__btn
        &, &:link, &:visited
            padding: 1.2rem 0
            width: 16.2rem
            display: block
            margin-bottom: .7rem
        &:hover
            background-color: #E06733
            color: #fff

.leafs
    filter: blur(.25rem)

.price
    &__title
        font-weight: 700
        color: #000
        font-family: 'Inter', sans-serif
        margin-bottom: 6rem